<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dettaglio Asta</title>
</head>
<body>
	<div>
		<a href="/TIW-Project/logout">Logout</a>
	</div>	
   	<div>
		<a href="/TIW-Project/vendo">&lt;&lt; Torna alle tue aste</a>
	</div>
    <h1>Dettaglio Asta</h1>
    

    <div th:if="${openAsta != null}">
        <h2>Asta Aperta</h2>
        <p>Creatore Asta:<span th:text="${openAsta.creatore}"></span></p>
        <p>Prezzo Iniziale:<span th:text="${openAsta.prezzoIniziale}"></span></p>
        <p>Rialzo Minimo:<span th:text="${openAsta.rialzoMinimo}"></span></p>
        <p>Data Scadenza:<span th:text="${openAsta.dataScadenza}"></span></p>
        <p>Ora Scadenza:<span th:text="${openAsta.oraScadenza}"></span></p>

        <div th:if="${canBeClosed}">
            <form th:action="@{/chiudiAsta}" method="post">
            	<input type="hidden" name="chiudi" value="chiudi"></input>
              <button type="submit" style="color:red;">Chiudi l'asta</button>
            </form>
        </div>

        <h2>Offerte ricevute per l'asta : </h2>
        <table border="1">
            <thead>
                <tr>
                    <th>Utente</th>
                    <th>Prezzo</th>
                    <th>Data</th>
                    <th>Ora</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="offerta : ${offerte}">
                    <td th:text="${offerta.utente}"></td>
                    <td th:text="${offerta.prezzo}"></td>
                    <td th:text="${offerta.dataOfferta}"></td>
                    <td th:text="${offerta.oraOfferta}"></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div th:if="${astaChiusa != null}">
        <h2>Asta Chiusa</h2>
        <p>Creatore Asta:<span th:text="${astaChiusa.creatore}"></span></p>
        <p>Prezzo Iniziale:<span th:text="${astaChiusa.prezzoIniziale}"></span></p>
        <p>Rialzo Minimo:<span th:text="${astaChiusa.rialzoMinimo}"></span></p>
        <p>Data Scadenza:<span th:text="${astaChiusa.dataScadenza}"></span></p>
        <p>Ora Scadenza:<span th:text="${astaChiusa.oraScadenza}"></span></p><br>
        <p>Prezzo finale: <span th:text="${prezzo}"></span></p>
        <p>Acquirente: <span th:text="${nomeAcquirente}"></span></p>
        <p>Indirizzo di consegna:<span th:text="${indirizzo}"></span></p>
    </div>

</body>
</html>
