<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Login</title>
	</head>
	<body>
		<h3>Per utilizzare questa applicazione web, inserisci le tue credenziali!</h3>	
	
		<form action="/TIW-Project-JS/login" method="post">
			<label for="username">Username:</label>
			<input type="text" id="username" name="username" required><br>
			
			<label for="password">Password</label>
			<input type="password" id="password" name="password" required><br>
			
			<input type="Submit" value="Login"><br>
		</form>
		<div th:if="${#ctx.containsVariable('loginError')}" th:text="${#ctx.loginError}"></div>
	</body>
</html>