<html>
<head>
<meta charset="UTF-8">
<title>Acquisto</title>
</head>
<body>
	<div>
		<a href="/TIW-Project/logout">Logout</a>
	</div>	
	<div>
		<a href="/TIW-Project/home">&lt;&lt; Torna alla home</a>
	</div>
	
	<div>
		<h2>Inserisci una parola chiave:</h2>
		<form action="/TIW-Project/acquisto" method="post">
			<label for="parolaChiave">Parola chiave:</label>
			<input type="text" id="parolaChiave" name="parolaChiave" required><br>
			
			<input type="Submit" value="Ricerca aste"><br>
		</form>
	</div>
	
	<div th:if="${asteAperte != null and #lists.isEmpty(asteAperte)}"> Nessuna asta con questa parola chiave. </div>
	<table border="1" th:if="${not #lists.isEmpty(asteAperte)}">
		<tr>
			<th>IdAsta</th>
			<th>Creatore</th>
			<th>Prezzo Iniziale</th>
			<th>Rialzo Minimo</th>
			<th>Data Scadenza</th>
			<th>Ora Scadenza</th>
			<th>Offerta Massima</th>
			<th>Articoli inclusi</th>
		</tr>
		<tr th:each="astaAperta : ${asteAperte}">
			<td ><a th:href="@{/offertePage(idAsta=${astaAperta.idAsta})}" th:text="${astaAperta.idAsta}"></a></td>
			<td th:text="${astaAperta.creatore}"></td>
			<td th:text="${astaAperta.prezzoIniziale}"></td>
			<td th:text="${astaAperta.rialzoMinimo}"></td>
			<td th:text="${astaAperta.dataScadenza}"></td>
			<td th:text="${astaAperta.oraScadenza}"></td>
			<td th:text="${astaAperta.offertaMax}"></td>
			<td>
				<table>
					<tr th:each="articolo : ${astaAperta.articoli}">
						<td th:text="${articolo.cod}"></td>
						<td th:text="${articolo.nomeArticolo}"></td>
					</tr>
				</table>
			</td>	
		</tr>
	</table>
	

</body>
</html>