<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Vendo</title>
</head>
<body>
	<div>
		<a href="/TIW-Project/home">&lt;&lt; Torna alla home</a>
	</div>


	<div th:if="${#lists.isEmpty(asteAperte)}">
		Non hai ancora aste aperte
	</div> 
	<div th:if="${not #lists.isEmpty(asteAperte)}">
		<h2>Le tue aste aperte</h2>
		<table border="1">
			<tr>
				<th>IdAsta</th>
				<th>Prezzo iniziale</th>
				<th>Offerta Massima</th>
				<th>Data Scadenza</th>
				<th>Ora Scadenza</th>
				<th>Giorni Rimanenti</th>
				<th>Ore Rimanenti</th>
				<th>Articoli inclusi</th>
			</tr>
			<tr th:each="astaAperta : ${asteAperte}">
				<td ><a th:href="@{/dettaglioAstaPage(idAsta=${astaAperta.idAsta})}" th:text="${astaAperta.idAsta}"></a></td>
				<td th:text="${astaAperta.prezzoIniziale}"></td>
				<td th:text="${astaAperta.offertaMax}"></td>
				<td th:text="${astaAperta.dataScadenza}"></td>
				<td th:text="${astaAperta.oraScadenza}"></td>
				<td th:text="${astaAperta.giorniRimanenti}"></td>
				<td th:text="${astaAperta.oreRimanenti}"></td>
				<td>
					<table>
						<tr th:each="articolo : ${astaAperta.articoli}">
							<td th:text="${articolo.codice}"></td>
							<td th:text="${articolo.nomeArticolo}"></td>
							<td th:text="${articolo.prezzo}+'€'"></td>
						</tr>
					</table>
				</td>	
			</tr>
		</table>
	</div>
	
	<div th:if="${#lists.isEmpty(asteChiuse)}">
		Non hai ancora aste chiuse
	</div> 
	<div th:if="not ${#lists.isEmpty(asteChiuse)}">
		<h2>Le tue aste chiuse</h2>
		<table border="1">
			<tr>
				<th>IdAsta</th>
				<th>Prezzo iniziale</th>
				<th>Offerta Massima</th>
				<th>Data Scadenza</th>
				<th>Ora Scadenza</th>
			</tr>
			<tr th:each="astaChiusa : ${asteChiuse}">
				<td ><a th:href="@{/dettaglioAstaPage(idAsta=${astaChiusa.idAsta})}" th:text="${astaChiusa.idAsta}"></a></td>
				<td th:text="${astaChiusa.prezzoIniziale}"></td>
				<td th:text="${astaChiusa.offertaMax}"></td>
				<td th:text="${astaChiusa.dataScadenza}"></td>
				<td th:text="${astaChiusa.oraScadenza}"></td>
			</tr>
		</table>
	</div>
	
	<div>
		<h2>Inserisci un nuovo articolo:</h2>
		<form action="/TIW-Project/newArticolo" method="post" enctype="multipart/form-data">
			<label for="nome">Nome:</label>
			<input type="text" id="nome" name="nome" required><br>
			
			<label for="descrizione">Descrizione:</label>
			<input type="text" id="descrizione" name="descrizione" required><br>
			
			<label for="immagine">Immagine:</label>
			<input type="file" id="immagine" name="immagine" accept="image/*" required><br>
			
			<label for="prezzo">Prezzo (in €):</label>
			<input type="number" id="prezzo" name="prezzo" min="0" required><br>
			
			<input type="Submit" value="Inserisci articolo"><br>
		</form>
	</div>
	
	<h2>Crea asta:</h2>
	
	<div th:if="${#lists.isEmpty(availableArticoli)}">
		Prima di creare una nuova asta, inserisci un nuovo articolo
	</div> 
	
	<div th:if="${not #lists.isEmpty(availableArticoli)}">
		
		<form action="/TIW-Project/newAsta" method="post">
			<label for="rialzoMinimo">Rialzo minimo (in €):</label>
			<input type="number" id="rialzoMinimo" name="rialzoMinimo" min="0.01" step="0.01"required><br>
			
			<label for="dataScadenza">Data scadenza:</label>
			<input type="date" id="dataScadenza" name="dataScadenza" required><br>
			
			<label for="oraScadenza">Ora scadenza:</label>
			<input type="time" id="oraScadenza" name="oraScadenza" required><br>
			
			<table border="1">
				<tr>
					<th>Seleziona</th>
					<th>Id articolo</th>
					<th>Nome articolo</th>
					<th>Descrizione</th>
					<th>Prezzo</th>
				</tr>
				
				<tr th:each="articolo : ${availableArticoli}">
					<td><input type="checkbox" name="codiceArticolo" th:value="${articolo.codice}"></td>
					<td th:text="${articolo.cod}"></td>
					<td th:text="${articolo.nomeArticolo}"></td>
					<td th:text="${articolo.descrizione}"></td>
					<td th:text="${articolo.prezzo} + €"></td>
				</tr>
			</table>
			<br>
			
			<input type="Submit" value="Inserisci articolo">
		</form>
	</div>
	

</body>
</html>